body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 255, 242);
}

.imgfundo {
    background-image: url("imgfundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.Topo-pagina a {
    text-decoration: none;
}



.Topo-pagina form {
    text-align: right;
}

.Topo-pagina form :not(:last-child) {
    margin-right: 10px;
}


.Topo-pagina {
    background-color: (218, 255, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Topo-pagina h1 {
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.Topo-pagina h1:hover{
    color: rgb(157, 186, 185);
}

h1 {
    margin-right: 10px;
    border-radius: 5% 5% 5% 5%;
}



.form-container {
    display: flex;
    align-items: center;
}

.form-container form:not(:last-child) {
    margin-right: 10px;

}

p {
    font-size: 16px;
}

form {
    margin-left: 400px;
    font-size: 16px;
}

.Entrar {
    margin-left: 750px;
    font-size: 25px;
    border-radius: 10%;
}

.Entrar :hover{ 
    background-color: rgb(100, 100, 100);
    color: white;

}

.tituloM {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

input {
    background-color: rgb(109, 211, 219);
    border: 1px solid rgb(109, 211, 219);
    border-radius: 5% 5% 5% 5%;
}

input :hover{
    background-color: rgb(100, 100, 100);
}


.navbar-brand {
    background-color: rgb(109, 211, 219);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5% 5% 5% 5%;

}

.navbar-brand:hover{
    background-color: rgb(100, 100, 100);
}

.navbar-brand img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
}

li {
    background-color: rgb(109, 211, 219);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5% 5% 5% 5%;
    margin-right: 10px;

}

li:hover{
    background-color: rgb(100, 100, 100);
}


.navbar-nav .nav-link:hover{
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-link {
    color: rgb(45, 45, 45);
}

.navbar-nav .nav-item1 .nav-link:hover{
    color: rgb(255, 255, 255);
}

.FormsES {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    height: 340px;
    width: 50%;
    border: 3px solid rgb(112, 142, 135);
    margin: 0 auto;
}

.sobreOSite {
    width: 100%;
    height: 600px;
    background-color: rgb(109, 211, 219);
    padding: 0 10%;
}

.sobreOSite h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(79, 155, 161);

}

.sobreOSite p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    background-color: rgb(109, 211, 219);
    margin-top: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(109, 211, 219);
}

.image-link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    max-height: 400px; 
    width: auto; 
}

.carousel-item {
    text-align: center; 
}

.carousel-item h5 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

footer {
    background-color: rgb(109, 211, 219);
}



.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

.form-check-label {
    font-weight: normal;
}

.btn-primary {
    margin-top: 20px;
}

.cadastro-main {
    height: 750px;
    max-width: 1000px; 
    margin: auto; 
    padding: 20px; 
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.row{
    margin-bottom: 1px;
}

.row h3{
    font-size: 45px;
    color: rgb(15, 31, 31);

}

.col-12 {
    font-size:15px;
    font-weight: bold;
}

.col-12 .form-check-label{
    font-size: 16px;
    font-weight: bold;
}

.col-12 button{
    background-color: rgb(82, 150, 159);
}

.col-12 select{
    background-color: rgb(156, 242, 253);
    border: 3px solid rgb(156, 242, 253);
    border-radius: 10%;
}
.error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}



